{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>LoginPage</title>
{% endblock %}
{% block content %}
        <center><h1>Login here for VOTing</h1>
    <div class="jumbotron">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">UserName</label>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We never share your privacy</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" class="form-control" name="password" id="exampleInputPassword1">
            </div>
        <input type="submit" value="Login here" class="btn btn-primary">
        </form>
    </div>
    </center>
    
{% endblock %}